body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* background-color:rgb(196, 255, 240);
  background-image: url("Slike\background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; */
    
}



h2 {
  text-align: center;
}

ul {
  text-align: left;
}

h5 {
  text-align: center;
}



img {
    max-width: 30%;
  }
img:hover {
  transform: scale(1.1);
}  

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.player-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
  
.player-container p:first-child {
  flex: 2;
  margin-right: 10px;
  text-align: right;
}
  
.player-container img:last-child {
  flex: 1;
  margin-left: 10px;
  text-align: left;
}

@media (max-width: 767px) {
  .player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  .player-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
    
  .player-container p {
    text-align: left;
  }
}
  
  


.cro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.location {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.location iframe {
  border: 1px solid #ccc;
  width: 100%;
  max-width: 1500px;
  height: 300px;
}
.location p {
  font-size: 14px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .location {
    flex-direction: column;
  }
  .location iframe {
    height: 200px;
  }
}

.text-container {
  margin-left: -10px; /* Adjust the margin as needed */
}


#infoIM-text {
  display: none;
}

.profile-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5px;
}



.profile-centered {
display: flex;
flex-direction: column;
gap: 10px;
margin: 5px;
}

#slikaIvan {
  max-width: 100%;
  height: auto;
}

.text-container {
  margin-left: -15px; /* Adjust the margin as needed */
}

.text-container span {
  text-decoration: underline;
}
