body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  h2 {
    text-align: center;
  }
  
  ul {
    text-align: left;
  }
  
  h5 {
    text-align: center;
  }
  
  video {
    margin-top: 20px;
  }
  
 
  
  #infoIM-text {
    display: none;
  }

  .profile-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 5px;
  }
  
  .profile-centered {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
  }

  
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  figure {
    margin: 20px;
    text-align: center;
    width: 20%;
  }
  
  figure img {
    width: 95%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  figcaption {
    font-size: 18px;
    margin-top: 10px;
  }
  
.cro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .location {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .location iframe {
    border: 1px solid #ccc;
    width: 100%;
    max-width: 1500px;
    height: 300px;
  }
  .location p {
    font-size: 14px;
    margin: 0;
  }
  
  .text-container {
    margin-left: -10px; /* Adjust the margin as needed */
  }

  .text-container {
    margin-left: -15px; /* Adjust the margin as needed */
  }
  
  .text-container span {
    text-decoration: underline;
  }
  