<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f4f3f3;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 py-1">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Početna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lukinDrugiIzbor.html">Lukin drugi izbor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ivanovDrugiIzbor.html">Ivanov drugi izbor</a>
                </li>
            </ul>
        <div>
    <div>
</nav>